# main group
framework: net451
source https://www.nuget.org/api/v2

nuget Autofac.WebApi2.Owin 3.3.0
nuget Dapper 1.42
nuget DiffPlex 1.4.1
nuget DotNetZip 1.9.8
nuget Lextm.SharpSnmpLib 9.0.1
nuget Microsoft.AspNet.WebPages 3.2.3
nuget Microsoft.Diagnostics.Runtime 0.8.27-beta
nuget Microsoft.Owin.Host.HttpListener 3.0.1
nuget Microsoft.Owin.StaticFiles 3.0.1
nuget Microsoft.Owin.Testing 3.0.1
nuget Mono.Posix-4.5 4.5.0
nuget Moq 4.5.9
nuget NLog 4.3.2
nuget Newtonsoft.Json 6.0.8
nuget NUnit 3.2.1
nuget NUnit.ConsoleRunner 3.2.1
nuget Nustache 1.16.0.1
nuget PacketDotNet 0.16.0
nuget SharpPcap 4.4.0
nuget SocketHttpListener 1.0.0.30
nuget Swashbuckle.Core.Net45 5.2.1
nuget TreeViewAdv 1.7.0.0
nuget vtortola.WebSocketListener 2.2.0.1
nuget WebSocketSharp 1.0.3-rc9

# end
